* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #121617;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    line-height: 1.5em;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 966px;
    padding: 0 15px;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: 16px;
    color: #DAD8D7;
    font-weight: 400;
    line-height: 1.5;
}


/*---------header------------*/

.header {
    padding-top: 27px;
    padding-bottom: 130px;
    position: relative;
}

/*---------Навигация---------*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a {
    font-size: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    margin-right: 48px;
    transition: all .3s ease-in-out;
}
.navigation li:last-child {
    margin-right: 72px;
}
.navigation li:hover {
    transform: scale(1.2);
}

.support {
    background-color: #F4511F;
    padding: 9px 25px;
    border-radius: 24px;
    transition: all .2s ease;
    border: none;
    font-size: 16px;
    color: #fff;
}
.support:hover {
    background-color: #c93c11;
    cursor: pointer;
}


/*-------Основной контент------*/

.main-header {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.left-box img {
    width: 367px;
    height: 369px;
    margin-right: 87px;
}


.right-box {
    margin-top: 37px;
    max-width: 411px;
}

.header-suptitle {
    font-size: 20px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 5px;
}

.header-title {
    position: relative;
    color:#fff;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1.09em;
}

.header-title span::before {
    content: url('../img/header/logo.svg');
    width: 24px;
    height: 24px;
    position: absolute;
    margin: -29px 6px;
}

.header-subtitle {
    margin-top: 34px;
    color: #fff;
    margin-bottom: 59px;
}

.right-box a {
    background-color: #F4511F;
    padding: 17px 28px;
    border-radius: 8px;
    transition: all .2s ease;
}
.right-box a:hover{
    background-color: #c93c11;
}


.header-border {
    width: 66px;
    height: 5px;
    background-color: #fff;
    margin: 105px auto 0;
    border-radius: 7px;    
}


/*---------OurServices-----------*/

.OurServices {
    padding-bottom: 110px;
}

.title-OurServices {
    font-size: 36px;
    color: #fff;
    text-align: center; 
    margin-bottom: 75px;
}


.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 842px;
    margin: 0 auto;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 230px;
    text-align: center;
    transition: all .3s ease;
}
.card:hover {
    transform: scale(1.05);
}

.img-wrapper {
    display: flex;
    align-items: flex-end;
    height: 196px;
}
.img-card {
    display: inline-block;
    width: 200px;
    height: 201px;
    margin-bottom: 15px;
}
.img-card.two {
    width: 235px;
    height: 174px;
}

.title-card {
    font-size: 23px;
    color: #fff;
    margin-bottom: 6px;
}

/*--------AboutUs----------*/

.AboutUs {
    padding-bottom: 220px;
}

.wrapper-aboutUs {
    display: flex;
}

.left-box-aboutUs {
    max-width: 390px;
    margin-top: 50px;
}

.title-aboutUs {
    font-size: 36px;
    color: #fff;
    margin-bottom: 48px;
}

.subtitle-aboutUs {
    margin-bottom: 52px;
}

.link-aboutUs {
    background-color: #F4511F;
    padding: 17px 28px;
    border-radius: 8px;
    transition: all .2s ease;
}
.link-aboutUs:hover{
    background-color: #c93c11;
}

.img-aboutUs {
    display: block;
    width: 394px;
    height: 358px;
    margin-left: 160px;
}


/*------------Discount------------*/

.discount {
    padding-bottom: 220px;
}


.wrapper-discount {
    display: flex;
    max-width: 622px;
    margin: 0 auto;
    align-items: center;
}

.right-box-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-discount {
    width: 299px;
    height: 296px;
    margin-right: 116px;
}

.title-discount {
    color: #fff;
    margin-bottom: 38px;
    text-align: center;
    font-size: 24px;
}

.link-discount {
    background-color: #F4511F;
    padding: 17px 28px;
    border-radius: 8px;
    transition: all .2s ease;
}
.link-discount:hover{
    background-color: #c93c11;
}

* {
    font-weight: 600;
    letter-spacing: 1px;
}

/*  Секция покупки товара  */

/*Попап об ошибке*/

.error-order {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 1;
    transform: scale(1);
    transition: opacity .6s ease;
}
.error-order.hide {
    opacity: 0;
    transform: scale(0);
}
.error-order-wrapper {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #ff0000ec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.title-error-order {
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.cl-btn-error-order {
    position: absolute;
    top: 23px;
    right: 10px;
    cursor: pointer;
}
.error-order-right {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transform: rotate(45deg);
    position: relative;
    border-radius: 3px;
}
.error-order-right::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transform: rotate(90deg);
    position: absolute;
    border-radius: 3px;
}

/*---------------*/

.product {
    padding-bottom: 100px;
}

.container-product {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


.img-product {
    width: 367px;
    height: 369px;
}

.info-product {
    display: flex;
    flex-direction: column;
    max-width: 367px;
    height: 350px;
    justify-content: space-around;
}


.title-product {
    margin-top: 50px;
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.settings-product {
    position: relative;
}

.title-color {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: -45px;
}

/*---------выбор цвета--------*/
.colors {
    margin-top: 1px;
    position: absolute;
    left: 40px;
}

.color {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    z-index: -1;
    opacity: 0;
}
.two {
    margin-left: 15px;
}
.label-color {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: rgb(13, 52, 228);
    border: 2px solid rgb(13, 52, 228);
    border-radius: 50%;
    cursor: pointer;
}
.label-two {
    left: 50px;
    background-color: #000;
    border: 2px solid #000;
}
.label-three {
    left: 100px;
    background-color: #fff;
    border: 2px solid #fff;
}
.color:checked + .label-color {
    border: 2px solid #fff;
}

/*------------------------------*/
.title-order {
    color: #fff;
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
}

.order {
    margin-top: 60px;
}

.order-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.label-order {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.wrap-price {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.price {
    font-size: 20px;
    margin: 0 3px 7px 10px;
}
.rub {
    margin-bottom: 8px;
    font-size: 16px;
}

.input_order {
    box-sizing: border-box;
    width: 300px;
    font-size: 18px;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.input_order:focus {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.692);
}
.input_order.error {
    box-shadow: 0px 4px 8px 0px rgb(255, 0, 0);
}
.input_order.area_order {
    height: 129px;
    resize: none;
    font-size: 14px;
    margin-bottom: 0;
}



/*-----------counter----------*/
.counter {
    display: flex;
    margin-top: 36.5px;
    align-items: center;
}

.counter-wrapper {
    display: flex;
    margin-right: 39px;
}

.btn-counter {
    background-color: #F4511F;
    border: none;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 37px;
    height: 37px;
    cursor: pointer;
}
.btn-counter:hover {
    background-color: #c93c11;
    transition: background-color .3s ease;
}

.minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.minus::after {
    content: "-";
    position: absolute;
    font-size: 30px;
    top: -3px;
    left: 15px;
}

.plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.counter-value {
    color: #000;
    background-color: #fff;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: none;
    text-align: center;
}
.counter-value:focus {
    border: none;
    outline: none;
}
 

.buy-btn {
    padding: 8.6px 30px;
    border: none;
    background-color: #F4511F;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.buy-btn:hover {
    background-color: #c93c11;
    transition: background-color .3s ease;
}
/*------------------------------*/







































































































